body.main-content {
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;

}

.hotel-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.hotel-container {
    background:#E8EFFC;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    box-sizing: border-box;
    margin-bottom: 40px;
    transition: transform 0.2s;
}

.hotel-container:hover {
    transform: scale(1.05);
}

.hotel-container img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.hotel-container h2 {
    margin: 10px 0;
    color: #007bff;
}

.hotel-container p {
    margin: 5px 0;
    color: #555;
}

.hotel-container p strong {
    color: #333;
}

@media (max-width: 600px) {
    .hotel-list {
        flex-direction: column;
        align-items: center;
    }

    .hotel-container {
        width: 90%;
    }
}
